*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button{
  height: 5vh
}

#username{
  width: 19vw;
}

#text{
  width:70vw;
}

button{
  width:10vw;
}

ul{
  list-style: none;
}

li:nth-child(odd){
  background-color: rgb(229, 229, 229);
}

#box{
  height: 95vh;
  width:60vw;
  border-right: 2px solid grey;
  position: relative;
  white-space: pre-line;
  word-wrap: break-word;
  overflow-y: scroll;
}
 span{
  position: absolute;
  bottom: 0;
 }
